:root {
    --color-bege: #F5F5DC;
    --color-white-less: #fdf5f5;
    --color-bege-claro: #f3e9dc;
    --color-marrom-1: #895737;
    --color-marrom-2: #5e3023;
    --color-marrom-1e5: #c08552;
    --font: 'Montserrat', sans-serif;
    --font-two: 'Cormorant Garamond', serif;
    --font-arapey: 'Arapey', serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    scroll-behavior: smooth;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}

/* HEADER */
/* HEADER */
/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white-less);
    padding: 1.5rem 10rem;
}
header h1 {
    font-family: var(--font);
    font-weight: 600;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 25px;
}
nav ul li a {
    font-family: var(--font);
    color: var(--color-marrom-2);
    font-weight: 600;
}

.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: black;
}

/* MAIN */
/* MAIN */
/* MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80vh;
    background-color: var(--color-marrom-1);
}

main h1 {
    font-family: var(--font);
    color: var(--color-white-less);
    font-size: 3rem;
}
main h2 {
    font-family: var(--font);
    color: var(--color-white-less);
    font-size: 1.2rem;
}

/* GALLERY */
/* GALLERY */
/* GALLERY */
.containertextintro {
    margin: 4rem 0rem 5rem 0rem;
}
.textintro {
    font-family: var(--font-arapey);
    font-size: 1.3rem;
    color: #1F2021;
    text-align: center;
    margin: 5px 0;
}
.threepoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5rem;
}
.threepoints span {
    width: 6px;
    height: 6px;
    background-color: #1F2021;
    display: block;
    border-radius: 100%;
}
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}
.gallerysize {
    max-width: 1000px;
	width: 100%;
	margin: 0 auto;

    margin: 5rem 0rem;
}
.gallerysize .titlegallery {
    text-align: center;
    font-size: 1.9rem;
    font-family: var(--font-arapey);
    color: var(--color-marrom-1);
    font-weight: 500;
}
.gallerysize .tattoos {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.figureinsta {
    display: flex;
    flex-direction: column;
    background-color: var(--color-marrom-2);
    justify-content: center;
    align-items: center;
}
.gallerysize .tattoos figure .img {
    width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallerysize .tattoos figure {
    overflow: hidden;
    aspect-ratio: 1;
    max-width: 320px;
}
@media (max-width: 980px) {
    .gallerysize .tattoos figure {
        max-width: 460px;
    }
}
@media (max-width: 930px) {
    .gallerysize .tattoos figure {
        max-width: 390px;
    }
}
@media (max-width: 785px) {
    .gallerysize .tattoos figure {
        max-width: 340px;
    }
}
@media (max-width: 690px) {
    .gallerysize .tattoos figure {
        max-width: 300px;
    }
}
@media (max-width: 600px) {
    .gallerysize .tattoos figure {
        max-width: 100%;
        padding: 1rem;
    }
}
.gallerysize .tattoos figure img {
    width: 100%;
    cursor: pointer;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.gallerysize figure:hover img {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.cardinsta {
    width: 100%;
    background-color: #f1f1f1;
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardinsta h1 {
    text-align: center;
    font-size: 1.9rem;
    font-family: var(--font);
    color: var(--color-marrom-2);
    font-weight: 500;
}
/* ABOUT */
/* ABOUT */
/* ABOUT */

.about {
    background-color: var(--color-white-less);
    padding: 4rem 0rem;
    margin-top: 100rem;
}
.sizeabout {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    gap: 30px;
}
.sizeabout img {
    max-width: 400px;
}
.sizeabout h1 {
    font-size: 2rem;
    font-family: var(--font);
    color: var(--color-marrom-1);
    font-weight: 700;
}
.sizeabout p {
    max-width: 100ch;
    margin: 10px 0;
}

/* DOUBTS */
/* DOUBTS */
/* DOUBTS */

.doubts {
    background-color: var(--color-white-less);
}
.doubtssize {
    max-width: 1000px;
	width: 100%;
	margin: 0 auto;

    padding: 7rem 0rem 2rem 0rem;
}
.doubtssize .faqtitle {
    position: relative;
}
.doubtssize .faqtitle h1 {
    text-align: center;
    font-size: 8rem;
    font-family: var(--font-arapey);
    font-weight: 600;
    background: linear-gradient(to bottom, #c08552, #F5F5DC);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 60%;
}
.doubtssize .faqtitle p {
    position: absolute;
    left: 30%;
    top: 33%;

    font-size: 3rem;
    font-family: var(--font-two);
    color: var(--color-marrom-2);
}
.cardsdoubts {
    margin-top: 1rem;
}
.cardquestion {
    &:nth-child(-n + 3) {
        border-bottom: 2px solid #e9e8e8;
    }
}
.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.2rem;
    cursor: pointer;
}
.question:hover {
    background-color: #f6f6f6;
}
.question:hover h2 {
    text-decoration: underline;
}
.cardquestion .question h2 {
    font-size: 1.2rem;
    font-family: var(--font);
    font-weight: 550;
}
.cardquestion .answer {
    display: none;
    padding: 1.4rem 0rem 2rem 2.2rem;
}
.cardquestion .answer.active {
    display: block;
}
.cardquestion .answer p {
    font-family: var(--font);
    font-weight: 450;
    color: #000;
    margin-top: .6rem;
}

.orcament {
    background-color: var(--color-white-less);
    padding: 1rem 0rem;
}
.sizeorcament {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.sizeorcament h1 {
    font-size: 1.2rem;
    font-family: var(--font);
    font-weight: 550;
    text-align: center;
    margin-bottom: 4rem;
}
.sizeorcament .doubtsbutton {
    padding: 1.5rem 2rem;
    background-color: var(--color-marrom-2);
    font-family: var(--font);
    color: #ffffff;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
    background-color: #343435;
    padding: 5rem 5rem 0rem 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectionsfooter {   
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.linkfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0rem;
}
.linkfooter p {
    font-family: var(--font);
    color: var(--color-marrom-1e5);
    font-size: 1.2rem;
    font-weight: 700;
}
.linkfooter a {
    background-color: #e9e8e8;
    padding: 1.1rem 2rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-family: var(--font);
    color: var(--color-marrom-2);
}
.divfooter {
    display: flex;
    flex-direction: column;
}
.divfooter h2 {
    font-family: var(--font);
    color: var(--color-marrom-1e5);
    font-size: 1.1rem;
    font-weight: 600;
}
.divfooter p {
    font-family: var(--font);
    color: var(--color-bege-claro);
    font-size: .9rem;
}


.cop {
    background-color: #000000;
    text-align: center;
    font-family: var(--font);
    color: #fff;
    padding: .3rem;
    font-size: .3rem;
}
.cop a {
    font-family: var(--font);
    color: #fff;
    font-size: .3rem;
}


/* RESPONSIVE 678px */
/* RESPONSIVE 678px */
/* RESPONSIVE 678px */

@media (max-width: 678px) {
    header {
        padding: 1.5rem 2rem;
    }
    .menu {
        position: fixed;
        z-index: 777;
        left: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        background-color: var(--color-marrom-2);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .item {
        margin: 25px 0;
    }
    .link {
        color: white;
      }
      .menu.active {
        left: 0;
      }
      .hamburger {
        display: block;
        z-index: 777;
      }
      .hamburger.active {
        position: fixed;
        right: 15px;
      }
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: white;
      }
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: white;
      }


    .sizeabout {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sizeabout img {
        max-width: 100%;
    }
    .sizeabout h1, .sizeabout p {
        text-align: center;
        padding: 0rem 1rem;
    }
}
