:root {
    --color-bege: #F5F5DC;
    --color-white-less: #fdf5f5;
    --color-bege-claro: #f3e9dc;
    --color-marrom-1: #895737;
    --color-marrom-2: #5e3023;
    --color-marrom-1e5: #c08552;
    --font: 'Montserrat', sans-serif;
    --font-two: 'Cormorant Garamond', serif;
    --font-arapey: 'Arapey', serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    scroll-behavior: smooth;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    width: 60%;
}
.maquinatattoo {
    width: 50px;
}
header .logo {
    font-family: var(--font);
    font-weight: 600;
    color: var(--color-bege);
    font-size: 1.5rem;
    padding: 0rem 2rem;
}
nav {
    display: flex;
    align-items: center;
    padding-left: 6rem;
}
nav ul {
    display: flex;
    gap: 25px;
}
nav ul li a {
    font-family: var(--font);
    color: var(--color-bege);
    font-weight: 600;
}

.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: rgb(255, 255, 255);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    background-image: url('./img/spacetattooc.jpg'); 
}

main h1 {
    font-family: var(--font);
    color: var(--color-white-less);
    font-size: 3rem;
}
main h2 {
    font-family: var(--font);
    color: var(--color-white-less);
    font-size: 1.2rem;
}


/* INTRODUCTION */
/* INTRODUCTION */
/* INTRODUCTION */

.containertextintro {
    margin: 4rem 0rem 5rem 0rem;
}
.textintro {
    font-family: var(--font-arapey);
    font-size: 1.3rem;
    color: #1F2021;
    text-align: center;
    margin: 5px 0;
}
.threepoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5rem;
}
.threepoints span {
    width: 6px;
    height: 6px;
    background-color: #1F2021;
    display: block;
    border-radius: 100%;
}
.pedidopedro, .pedidopedro2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 70vh;
    position: relative;
}
.pedidopedro .portfoliopedro,
.pedidopedro .tattoosautorais {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.pedidopedro .portfoliopedro {
    background-image: url('./img/bgportf.jpg'); 
  }
  .pedidopedro .tattoosautorais {
    background-image: url('./img/bgautorais.jpg'); 
  }
  .pedidopedro a {
    color: white; 
    font-size: 5rem; 
    text-align: center;
    z-index: 1;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif, monospace;
    box-shadow: inset 0 0 0 0 #d4d4d4;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    &:hover {
      box-shadow: inset 400px 0 0 0 #ffffff;
      color: #7a5449;
    }
  }
  .pedidopedro .portfoliopedro p,
  .pedidopedro .tattoosautorais p {
    font-family: var(--font-arapey);
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #d6d6d6;
  }
.aboutme {
    background-color: var(--color-marrom-2);
    font-family: "Montserrat", sans-serif, monospace;
    color: #fff;
    font-size: 1rem;
    padding: 2rem 1.5rem;
}
.pedroimg {
    background-image: url('./img/bgtattoo.jpg'); 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px) {
    .pedidopedro,
    .pedidopedro2 {
      grid-template-columns: 1fr;
      height: 85vh;
    }
  }

/* GALLERY */
/* GALLERY */
/* GALLERY */

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}
.gallerysize {
	width: 100%;
	margin: 0 auto;

    margin: 5rem 0rem;
}
.gallerysize .titlegallery {
    text-align: center;
    font-size: 1.9rem;
    font-family: var(--font-arapey);
    color: var(--color-marrom-1);
    font-weight: 500;
}
.gallerysize .tattoos {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.figureinsta {
    display: flex;
    flex-direction: column;
    background-color: var(--color-marrom-2);
    justify-content: center;
    align-items: center;
}
.gallerysize .tattoos figure .img {
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallerysize .tattoos figure {
    overflow: hidden;
    aspect-ratio: 1;
    max-width: 500px;
}
@media (max-width: 980px) {
    .gallerysize .tattoos figure {
        max-width: 460px;
    }
}
@media (max-width: 930px) {
    .gallerysize .tattoos figure {
        max-width: 390px;
    }
}
@media (max-width: 785px) {
    .gallerysize .tattoos figure {
        max-width: 340px;
    }
}
@media (max-width: 690px) {
    .gallerysize .tattoos figure {
        max-width: 300px;
    }
}
@media (max-width: 600px) {
    .gallerysize .tattoos figure {
        max-width: 100%;
        padding: 1rem;
    }
}
.gallerysize .tattoos figure img {
    width: 100%;
    cursor: pointer;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.gallerysize figure:hover img {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.cardinsta {
    width: 100%;
    background-color: #f1f1f1;
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardinsta h1 {
    text-align: center;
    font-size: 1.9rem;
    font-family: var(--font);
    color: var(--color-marrom-2);
    font-weight: 500;
}
.cardinsta p {
    text-align: center;
    font-size: .9rem;
    font-family: var(--font);
    color: var(--color-marrom-2);
    font-weight: 500;
}

/* DOUBTS */
/* DOUBTS */
/* DOUBTS */

.doubts {
    background-color: #f1f1f1;
    padding-bottom: 5rem;
}
.doubtssize {
    max-width: 1000px;
	width: 100%;
	margin: 0 auto;

    padding: 7rem 0rem 2rem 0rem;
}
.doubtssize .faqtitle {
    position: relative;
}
.doubtssize .faqtitle h1 {
    text-align: center;
    font-size: 8rem;
    font-family: var(--font-arapey);
    font-weight: 600;
    background: linear-gradient(to bottom, #c08552, #F5F5DC);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 60%;
}
.doubtssize .faqtitle p {
    position: absolute;
    left: 30%;
    top: 33%;

    font-size: 3rem;
    font-family: var(--font-two);
    color: var(--color-marrom-2);
}
.cardsdoubts {
    margin-top: 1rem;
}
.cardquestion {
    &:nth-child(-n + 3) {
        border-bottom: 2px solid #e9e8e8;
    }
}
.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.2rem;
    cursor: pointer;
}
.question:hover {
    background-color: #f6f6f6;
}
.question:hover h2 {
    text-decoration: underline;
}
.cardquestion .question h2 {
    font-size: 1.2rem;
    font-family: var(--font);
    font-weight: 550;
}
.cardquestion .answer {
    display: none;
    padding: 1.4rem 0rem 2rem 2.2rem;
}
.cardquestion .answer.active {
    display: block;
}
.cardquestion .answer p {
    font-family: var(--font);
    font-weight: 450;
    color: #000;
    margin-top: .6rem;
}

.arrow-icon.closed {
    transform: rotate(0deg); 
    transition: .4s;
}
  
  .arrow-icon.open {
    transform: rotate(180deg); 
    transition: .4s;
}
.buytattoo {
    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('./img/bgtat.jpg'); 
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% center;
}
.sizeorcament {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sizeorcament .titlesize {
    font-size: 3rem;
    font-family: var(--font);
    color: #fff;
    font-weight: 550;
    text-align: center;
    margin-bottom: .5rem;
}
.sizeorcament .psize {
    font-size: 1rem;
    font-family: var(--font);
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}
.sizeorcament .buttontotattoo  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 1rem 1.5rem;
    background-color: var(--color-marrom-1e5);
    font-family: var(--font);
    color: #000000;
    border-radius: 5px;
    width: 300px;
}
.sizeorcament .buttontotattoo  p {
    font-family: var(--font);
    font-weight: 600;
}
.sizeorcament .buttontotattoo img {
    width: 30%;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
    background-color: var(--color-marrom-2);
    padding: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectionsfooter {   
    width: 70%;
    display: flex;
    justify-content: space-around;

    margin-bottom: 5rem;
}
.linkfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
}
.linkfooter p {
    font-family: var(--font);
    color: var(--color-marrom-1e5);
    font-size: 1.2rem;
    font-weight: 700;
}
.linkfooter a {
    background-color: #e9e8e8;
    padding: 1.1rem 2rem;
    border-radius: 5px;
    margin-top: 1rem;
    font-family: var(--font);
    color: var(--color-marrom-2);
}
.divfooter {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
}
.divfooter h2 {
    font-family: var(--font);
    color: var(--color-marrom-1e5);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.divfooter p {
    font-family: var(--font);
    color: var(--color-bege-claro);
    font-size: .9rem;
}
.divfooter a {
    font-family: var(--font);
    color: var(--color-bege-claro);
    font-size: .9rem;
}
.cop {
    background-color: #000000;
    text-align: center;
    font-family: var(--font);
    color: #fff;
    padding: .3rem;
    font-size: .3rem;
}
.cop a {
    font-family: var(--font);
    color: #fff;
    font-size: .3rem;
}
/* RESPONSIVE 1060px */
/* RESPONSIVE 1060px */
/* RESPONSIVE 1060px */

@media (max-width: 1060px) {
    .sectionsfooter {   
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .divfooter {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .divfooter a {
        text-align: center;
    }
}

/* RESPONSIVE 678px */
/* RESPONSIVE 678px */
/* RESPONSIVE 678px */

@media (max-width: 678px) {
    header {
        padding: 1.5rem 2rem;
        width: 100%;
    }
    .menu {
        position: fixed;
        z-index: 777;
        left: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        background-color: var(--color-marrom-2);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .item {
        margin: 25px 0;
    }
    .link {
        color: white;
      }
      .menu.active {
        left: 0;
      }
      .hamburger {
        display: block;
        z-index: 777;
      }
      .hamburger.active {
        position: fixed;
        right: 30px;
      }
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        background-color: white;
      }
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        background-color: white;
      }


    .sizeabout {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sizeabout img {
        max-width: 100%;
    }
    .sizeabout h1, .sizeabout p {
        text-align: center;
        padding: 0rem 1rem;
    }
}

/* RESPONSIVE 450px */
/* RESPONSIVE 450px */
/* RESPONSIVE 450px */

@media (max-width: 450px) {
    main h1 {
    font-size: 2rem;
    }
    .pedidopedro,
    .pedidopedro2 {
      grid-template-columns: 1fr;
      height: 57vh;
    }
    .pedidopedro a {
    font-size: 3rem; 
    }
    .pedroimg {
        height: 40vh;
    }
    .doubtssize .faqtitle   {
        margin-top: 8em;
    }
    .doubtssize .faqtitle p {
        font-size: 1.6rem;
        left: 17%;
        top: 40%;
    }
    footer {
        padding: 2rem 2rem 0rem 2rem;
    }
    .linkfooter p {
        text-align: center;
    }
    .linkfooter a {
        padding: 1rem 1.5rem;
    }
    .sizeorcament {
        margin-bottom: 3rem;
    }
    .sizeorcament .titlesize h1 {
        font-size: 1rem;
    }
}
